<form class="filter" [formGroup]="filterForm" >
  <div class="block">
    <p class="name">City</p>
    <div class="select-wrapper" *ngIf="cities">
      <select formControlName="cityControl" [compareWith]="compareFn">
        <option [ngValue]="notChosen">Not chosen</option>
        <option *ngFor="let id of cities.ids" [ngValue]="cities.entities[id]">{{cities.entities[id].name}}</option>
      </select>
    </div>
  </div>

  <div class="block">
    <p class="name">Categories</p>
    <label formArrayName="categoryControl" *ngFor="let category of filterForm.controls.categoryControl.controls; let i = index">
      <input type="checkbox" [formControlName]="i">
      <span class="checkmark"></span>
      {{categories.entities[categories.ids[i]].name}}
    </label>
  </div>

  <div class="block">
    <p class="name">Price</p>
    <ng5-slider (valueChange)='changeRangeSlider()' [(highValue)]="priceHighValue" [(value)]="priceValue" [options]="options"></ng5-slider>
    <div class="price">
      <div class="values">
        <p class="from">{{priceValue | currency:'USD': 'symbol' : '1.0'}}</p>
        <span class="dash">-</span>
        <p class="before">{{priceHighValue | currency:'USD': 'symbol' : '1.0'}}</p>
      </div>
      <button type="submit" (click)="filtered()">Filter</button>
    </div>
  </div>
</form>
