.Montserrat {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.Raleway {
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
}
