filter-section {
  width: 350px;
  position: fixed;
  top: 0;
  left: 0;
}
.content {
  margin-left: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
app-loader {
  margin: auto;
}
.no-item {
  margin: auto;
  font-family: Montserrat;
  font-size: 20px;
}
.cards {
  padding: 50px 0;
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  display: grid;
  grid-gap: 30px;
  grid-template: repeat(auto-fit, 300px) / repeat(auto-fit, 270px);
  .block {
    cursor: pointer;
    border: 1px solid #e9e9e9;
    height: 300px;
    display: flex;
    flex-direction: column;
  }
}
