
<filter-section
  [cities]="(cities$ | async)"
  [categories]="(categories$ | async)"
  (filter)="filter($event)"
  [filterSettings]="(filterSettings$ | async)"
  (setFilter)="setFilter($event)"
>
</filter-section>

<div class="content">

  <app-loader
    *ngIf="loading"
  >
  </app-loader>

  <p
    class="no-item"
    *ngIf="items && !items.length && !loading"
  >
    No items, please change filter
  </p>


  <div class="cards" *ngIf="!loading">
    <card-item
      class="block"
      *ngFor="let item of items; let i = index"
      [item]="item"
      [index]="i"
    >
    </card-item>
  </div>

</div>

